<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- <bean id="myPropertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="file:${user.dir}/conf/db.properties"/>
    </bean>-->

    <bean id="springELBean" class="com.maolin.spring3.pojo.SpringELBean">
        <property name="osName" value="#{systemProperties['os.name']}"/>
        <property name="jarPath" value="#{systemProperties['user.dir']}"/>
        <!--<property name="userDir" value="#{user.dir}"/>-->
    </bean>
</beans>